!!! 5
%html
  %head
    %title= Setting.brand
    %meta{ charset: 'UTF-8' }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
    = javascript_include_tag 'application', data: { turbolinks_track: 'reload' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: 'Learning Management System' }

  %body.background
    .container-fluid.h-100
      .row.h-100.align-items-center
        .col-md-4.mx-auto
          = form_tag sessions_path do
            .card
              .card-header
                %h3= _('Login')
              .card-body
                = render 'shared/flash'
                .form-group
                  = email_field_tag :email, nil, class: 'form-control', placeholder: _('Email')
                .form-group
                  = password_field_tag :password, nil, class: 'form-control',
                                       placeholder: _('Password')
                .form-check
                  %label.form-check-label
                    = check_box_tag :remember_me, 1, false, class: 'form-check-input'
                    = _('Remember Me')
              .card-footer
                = link_to 'Forgot Password', '#', class: 'align-self-center',
                          data: { toggle: 'modal', target: '#forgot-password-modal' }
                = submit_tag _('Log In'), class: 'btn btn-primary float-right'

    .modal.fade#forgot-password-modal{ role: 'dialog', aria: { hidden: 'true', labelledby: 'forgot-password-label' } }
      .modal-dialog{ role: 'document' }
        .modal-content
          = form_tag password_resets_path do
            .modal-header
              %h3#forgot-password-label Forgot Password
            .modal-body
              .form-group
                = email_field_tag :email, nil, class: 'form-control', placeholder: _('Email')
            .modal-footer
              = submit_tag _('Send Email'), class: 'btn btn-primary float-right'
