!!! 5
%html
  %head
    %title= Setting.brand
    %meta{ charset: 'UTF-8' }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
    = javascript_include_tag 'application', data: { turbolinks_track: 'reload' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: 'Learning Management System' }

  %body.background
    .container-fluid.h-100
      .row.h-100.align-items-center
        .col-md-4.mx-auto
          = form_tag sessions_path do
            .card
              .card-header
                %h3 Login
              .card-body
                = flash_messages
                .form-group
                  = email_field_tag :email, nil, class: 'form-control', placeholder: 'E-mail'
                .form-group
                  = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'
                .form-check
                  %label.form-check-label
                    = check_box_tag :remember_me, 1, false, class: 'form-check-input'
                    Remember Me
              .card-footer
                = link_to 'Forgot Password', '#', class: 'align-self-center'
                = submit_tag 'Login', class: 'btn btn-primary float-right'
