.row.h-100.align-items-center
  .col-md-4.mx-auto
    = form_tag sessions_path do
      .card
        .card-header
          %h3 Login
        .card-body
          = flash_messages
          .form-group
            = email_field_tag :email, nil, class: 'form-control', placeholder: 'E-mail'
          .form-group
            = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'
          .form-check
            %label.form-check-label
              = check_box_tag :remember_me, 1, false, class: 'form-check-input'
              Remember Me
        .card-footer
          = link_to 'Forgot Password', '#', class: 'align-self-center'
          = submit_tag 'Login', class: 'btn btn-primary float-right'
