= form_for [@course, @enrolment] do |form|
  .card
    .card-header
      %h3
        = _('Enroll student in')
        = @course.name
    .card-body
      = render 'enrolments/form', form: form, students: @students, enrolment: @enrolment
    .card-footer
      = form.submit _('Enroll Student(s)'), class: 'btn btn-primary float-right'
