.row
  .col
    .form-group
      = form.text_field :name, placeholder: _('Name'), class: 'form-control'
.row
  .col
    = bootstrap_md_editor form, :description
.row
  .col-md-3
    .form-group
      %label= _('Due Date')
      = form.date_field :due_date, class: 'form-control'
  .col
    .form-group
      %label.custom-file
        = form.file_field :document, class: 'custom-file-input'
        %span.custom-file-control
