.card
  .card-header
    = link_to 'New User', new_user_path, class: 'btn btn-primary float-right'
    %h4 Users
  .card-body
    %table.table.table-striped
      %thead
        %tr
          %th.w-10
          %th Name
          %th Email
          %th Role
          %th Actions
      %tbody
        - @users.each do |u|
          %tr
            %td= avatar(u)
            %td= u.first_name
            %td= u.email
            %td= u.role.capitalize
            %td.d-flex.justify-content-end
              = link_to 'Edit', edit_user_path(u),
                        class: 'btn btn-outline-primary mr-2'
              = link_to 'Delete', user_path(u), class: 'btn btn-outline-danger',
                        method: 'delete'
