.card
  .card-header
    = link_to new_user_path, class: 'btn btn-primary float-right' do
      = icon 'user'
      New User
    %h4 Users
  .card-body
    .row.justify-content-center
      .col-md-6
        = search_form_for @q, class: 'form-inline' do |f|
          .form-group
            = f.search_field :full_name_cont, class: 'form-control mb-2 mr-2',
                             placeholder: true
          = f.submit class: 'btn btn-success'
    .row
      .col
      %table.table.table-striped
        %thead
          %tr
            %th
            %th Name
            %th Email
            %th Role
            %th.text-center Actions
        %tbody
          - @users.each do |u|
            %tr
              %td= user_avatar u, size: '50x50'
              %td= link_to u.full_name, user_path(u), class: 'btn btn-link'
              %td= u.email
              %td= u.role.capitalize
              %td.d-flex.justify-content-end
                = link_to edit_user_path(u),
                          class: 'btn btn-outline-primary mr-2' do
                  = icon('edit')
                  Edit
                = link_to user_path(u), class: 'btn btn-outline-danger',
                          method: 'delete' do
                  = icon('trash')
                  Delete
    .row
      .col.justify-contents-center
        = paginate @users
