- breadcrumb :users
.card
  .card-header
    .row
      .col-md-2
        %h4 Users
      .col-md-8
        = search_form_for @query, class: 'form-inline' do |f|
          .input-group.mx-auto
            = f.search_field :full_name_cont, class: 'form-control', placeholder: true
            %span.input-group-btn
              = f.submit class: 'btn btn-success'
      .col-md-2
        - if policy(User).new?
          = link_to new_user_path, class: 'btn btn-primary float-right',
                    data: { toggle: 'modal', target: '#new-user-modal' } do
            = icon 'user'
            New User
  .card-body
    .row
      .col
      %table.table.table-striped.table-responsive#user-table
        %thead
          %tr
            %th
            %th Name
            %th Email
            %th Role
            %th.text-center Actions
        %tbody
          - @users.each do |user|
            = render 'users/user_row', u: user
    .row
      .col.justify-contents-center
        = paginate @users

= render 'users/modal'
