- breadcrumb :users
.card
  .card-header
    .row
      .col-md-2
        %h4= _('Users')
      .col-md-8
        = search_form_for @query, class: 'form-inline' do |f|
          .input-group.mx-auto
            = f.search_field :full_name_cont, class: 'form-control', placeholder: true
            %span.input-group-btn
              = f.submit class: 'btn btn-success'
      .col-md-2
        - if policy(User).new?
          = link_to new_user_path, class: 'btn btn-primary float-right',
                    data: { toggle: 'modal', target: '#user-new-modal' } do
            = icon 'user'
            = _('New User')
  .card-body
    .row
      .col
        %table.table.table-striped.table-responsive-md#user-table
          %thead
            %tr
              %th
              %th= _('Name')
              %th= _('Email')
              %th= _('Role')
              %th.text-center= _('Actions')
          %tbody
            - @users.each do |user|
              = render 'users/user_row', user: user
    .row
      .col.justify-contents-center
        = paginate @users

= render 'users/modal', user: User.new
