.card
  .card-header= _('Menu')
  .card-body
    %nav.nav.nav-pills.flex-column
      = active_link_to root_path, class: 'nav-link', active: :exclusive do
        = icon 'dashboard'
        = _('Dashboard')
      = active_link_to users_path, class: 'nav-link' do
        = icon 'users'
        = _('Users')
      = active_link_to courses_path, class: 'nav-link' do
        = icon 'university'
        = _('Courses')
