.row
  .col
    .card
      .card-header
        %h4= _('Edit Setting')
      = form_for(@setting, url: setting_path(@setting.var), method: :patch) do |f|
        .card-body
          .form-group
          %label
            = @setting.var.titleize
            = f.text_area :value, value: Setting[@setting.var], class: 'form-control'
        .card-footer
          = f.submit _('Update Setting'), class: 'btn btn-success float-right'
