.row
  .col
    .card
      .card-header
        %h4= _('Settings')
      .card-body
        %table.table.table-striped.table-responsive
          %thead
            %tr
              %th= _('Setting')
              %th= _('Value')
              %th.w-25
          %tbody
            - @settings.each_key do |key|
              %tr
                %td= key.titleize
                %td= Setting[key]
                %td.d-flex.justify-content-end
                  = link_to edit_setting_path(key), class: 'btn btn-outline-primary' do
                    = icon('edit')
                    = _('Edit')
