- if @course.errors.any?
  .row
    .col
      .alert.alert-danger{ role: 'alert'}
        %ul.fa-ul
          - @course.errors.full_messages.each do |message|
            %li
              = icon('exclamation-circle', class: 'fa-li')
              = message
.row
  .col
    .form-group
      = f.text_field :name, placeholder: _('Name'), class: 'form-control'
  .col
    .form-group
      = f.select :instructor_id, (i.map { |u| [u.full_name, u.id] }), {}, class: 'custom-select'
.row
  .col
    .form-group
      = bootstrap_md_editor f, :description
.row
  .col
    .form-group
      %label
        = _('Start Time')
        = f.time_select :start_time, { minute_step: 30 }, class: 'custom-select'
  .col
    .form-group
      %label
        = _('End Time')
        = f.time_select :end_time, { minute_step: 30 }, class: 'custom-select'
