.row
  .col
    .form-group
      = f.text_field :name, placeholder: _('Name'), class: 'form-control'
  .col
    .form-group
      = f.select :instructor_id, (i.map { |u| [u.full_name, u.id] }), {}, class: 'custom-select'
.row
  .col
    .form-group
      %label
        = _('Start Time')
        = f.time_select :start_time, {}, class: 'custom-select'
  .col
    .form-group
      %label
        = _('End Time')
        = f.time_select :end_time, {}, class: 'custom-select'
