- if course.errors.any?
  = render 'shared/errors', model: course
.row
  .col
    .form-group
      = form.text_field :name, placeholder: _('Name'), class: 'form-control'
  .col
    .form-group
      = form.select :instructor_id, (instructors.map { |user| [user.full_name, user.id] }),
                    {}, class: 'custom-select'
.row
  .col
    .form-group
      = bootstrap_md_editor form, :description
.row
  .col
    .form-group
      %label
        = _('Start Time')
        = form.time_select :start_time, { minute_step: 30 }, class: 'custom-select'
  .col
    .form-group
      %label
        = _('End Time')
        = form.time_select :end_time, { minute_step: 30 }, class: 'custom-select'
