- breadcrumb :course, @course
.row
  .col
    .card
      .card-header.align-middle
        - if policy(Enrolment).new?
          = link_to new_course_enrolment_path(@course),
                    class: 'btn btn-outline-success float-right mr-2' do
            = icon('user-plus')
            = _('Enroll')
        - if policy(@course).edit?
          = link_to edit_course_path(@course), class: 'btn btn-outline-primary float-right mr-2' do
            = icon('edit')
            = _('Edit')
        %h3= @course.name
      .card-body
        %p.card-text
          = render_description @course.description

.row.mt-2
  .col
    .card-columns
      .card
        .card-header.instructor-header-color.text-light
          = user_avatar_tag @course.instructor, size: '50x50', class: 'rounded-circle'
          = @course.instructor.full_name
        .card-body.instructor-body-color.text-light
          %h5.font-italic= _('Instructor')
          %span
            = _('Email:')
            = @course.instructor.email
        .card-footer.instructor-header-color
          %span.btn.btn-info
            = icon('comment-o')
            %span.sr-only= _('Message')

      - @course.students.each do |s|
        .card
          .card-header
            - if policy(Enrolment).destroy?
              = link_to course_enrolment_path(@course, Enrolment.enrolment(@course, s)),
                        class: 'btn btn-sm btn-outline-danger float-right', method: :delete do
                = icon 'user-times'
                %span.sr-only= _('Remove')
            = user_avatar_tag s, size: '50x50', class: 'rounded-circle'
            = s.full_name
          .card-body
            %span
              = _('Email:')
              = s.email
          .card-footer
            %span.btn.btn-info
              = icon 'comment-o'
              %span.sr-only= _('Message')
.row.mb-2
  .col
    .card
      .card-header
        - if policy(Assignment).new?
          = link_to new_course_assignment_path(@course), class: 'btn btn-success float-right' do
            = icon('file-o')
            = _('New Assignment')
        %h5= _('Assignments')
      .card-body
        %table.table.table-striped
          %thead
            %tr
              %th= _('Date')
              %th= _('Name')
              %th= _('Due Date')
              %th= _('Submissions')
              %th.text-center= _('Actions')
          %tbody
            - @course.assignments.each do |assignment|
              %tr
                %td= time_tag assignment.created_at.strftime('%B %d, %Y')
                %td= link_to assignment.name, course_assignment_path(@course, assignment)
                %td{ class: due_date_style(assignment.due_date) }
                  - if assignment.overdue
                    = _('Overdue')
                  - else
                    = distance_of_time_in_words(Date.today, assignment.due_date)
                %td
                %td.d-flex.justify-content-end
                  - if policy(assignment).edit?
                    = link_to edit_course_assignment_path(@course, assignment),
                              class: 'btn btn-sm btn-outline-primary mr-2' do
                      = icon('edit')
                      %span.sr-only= _('Edit')
                  - if policy(assignment).destroy?
                    = link_to course_assignment_path(@course, assignment),
                              class: 'btn btn-sm btn-outline-danger', method: :delete,
                              data: { confirm: "Delete #{assignment.name}?" } do
                      = icon('trash')
                      %span.sr-only= _('Delete')
