.row
  .col
    .card
      .card-header
        %span.float-right
          Instructor:
          = user_avatar @course.instructor, size: '50x50',
                        class: 'rounded-circle'
          = @course.instructor.full_name
        %h3= @course.name
      .card-body
        %p.card-text Course Description

.row.mt-3
  .col
    .card-columns
      - @course.students.each do |s|
        .card
          .card-header
            = user_avatar s, size: '50x50', class: 'rounded-circle'
            = s.full_name
          .card-body
            %span
              E-Mail:
              = s.email
