- breadcrumb :course, @course
.row
  .col
    .card
      .card-header.align-middle
        %span.float-right
          Instructor:
          = user_avatar_tag @course.instructor, size: '50x50', class: 'rounded-circle'
          = @course.instructor.full_name
        - if policy(Enrolment).new?
          = link_to new_course_enrolment_path(@course),
                    class: 'btn btn-outline-success float-right mr-2' do
            = icon('user-plus')
            Enroll
        %h3= @course.name
      .card-body
        %p.card-text Course Description

.row.mt-2
  .col
    .card-columns
      - @course.students.each do |s|
        .card
          .card-header
            - if policy(Enrolment).destroy?
              = link_to course_enrolment_path(@course), class: 'btn btn-sm btn-outline-danger float-right', method: :delete do
                = icon 'user-times'
                %span.sr-only Remove
            = user_avatar_tag s, size: '50x50', class: 'rounded-circle'
            = s.full_name
          .card-body
            %span
              E-Mail:
              = s.email
          .card-footer
            %span.btn.btn-info
              = icon 'comment-o'
              %span.sr-only Message
.row.mb-2
  .col
    .card
      .card-header
        - if policy(Assignment).new?
          = link_to new_course_assignment_path(@course), class: 'btn btn-success float-right' do
            = icon('file-o')
            New Assignment
        %h5 Assignments
      .card-body
        %table.table.table-striped
          %thead
            %tr
              %th Date
              %th Name
              %th Due Date
              %th Submissions
              %th.text-center Actions
          %tbody
            - @course.assignments.each do |a|
              %tr
                %td= time_tag a.created_at
                %td= link_to a.name, [@course, a]
                %td{ class: due_date_style(a.due_date) }
                  - if a.due_date < Date.today
                    Overdue
                  - else
                    = distance_of_time_in_words(Date.today, a.due_date)
                %td
                %td.d-flex.justify-content-end
                  - if policy(a).edit?
                    = link_to edit_course_assignment_path(@course, a),
                              class: 'btn btn-sm btn-outline-primary mr-2' do
                      = icon('edit')
                      %span.sr-only Edit
                  - if policy(a).destroy?
                    = link_to course_assignment_path(@course, a), class: 'btn btn-sm btn-outline-danger',
                              method: :delete, data: { confirm: "Delete #{a.name}?" } do
                      = icon('trash')
                      %span.sr-only Delete
