- breadcrumb :course, @course
.row
  .col
    .card
      .card-header
        %span.float-right
          Instructor:
          = user_avatar @course.instructor, size: '50x50',
                        class: 'rounded-circle'
          = @course.instructor.full_name
        %h3= @course.name
      .card-body
        %p.card-text Course Description

.row.mt-2
  .col
    .card-columns
      - @course.students.each do |s|
        .card
          .card-header
            = user_avatar s, size: '50x50', class: 'rounded-circle'
            = s.full_name
          .card-body
            %span
              E-Mail:
              = s.email
.row.mb-2
  .col
    .card
      .card-header
        - if policy(Assignment).new?
          = link_to new_course_assignment_path(@course),
                    class: 'btn btn-success float-right' do
            = icon('file-o')
            New Assignment
        %h5 Assignments
      .card-body
        %table.table.table-striped
          %thead
            %tr
              %th Date
              %th Name
              %th Due Date
              %th Submissions
              %th.text-center Actions
          %tbody
            - @course.assignments.each do |a|
              %tr
                %td= time_tag a.created_at
                %td= link_to a.name, [@course, a]
                %td{ class: "#{due_date_style(a.due_date)}"}
                  = distance_of_time_in_words(Date.today, a.due_date)
                %td
                %td.d-flex.justify-content-end
                  - if policy(a).edit?
                    = link_to edit_course_assignment_path(@course, a),
                              class: 'btn btn-outline-success mr-2' do
                      = icon('edit')
                      Edit
                  - if policy(a).destroy?
                    = link_to course_assignment_path(@course, a),
                              class: 'btn btn-outline-danger',
                              method: :delete, data: { confirm: "Delete #{a.name}?" } do
                      = icon('trash')
                      Delete
