.card
  .card-header
    Menu
  .card-body
    %nav.nav.nav-pills.flex-column
      = active_link_to root_path, class: 'nav-link', active: :exclusive do
        = icon 'dashboard'
        Dashboard
      = active_link_to users_path, class: 'nav-link' do
        = icon 'users'
        Users
      = active_link_to courses_path, class: 'nav-link' do
        = icon 'university'
        Courses
