!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'UTF-8' }
    %title #{Setting.brand} - #{current_user.role.titleize}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
    = javascript_pack_tag 'application'
    = javascript_include_tag 'application', data: { turbolinks_track: 'reload' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: 'Learning Management System' }
  %body.background
    = render 'shared/header'
    .container-fluid
      - unless flash.empty?
        .row.mt-3
          .col
            = render 'shared/flash'
      .row.mt-3
        .col-md-2
          .row
            .col
              = render 'shared/sidebar_nav'
        .col-md-10
          - breadcrumbs.tap do |crumbs|
            - if crumbs.any?
              .row
                .col
                  %ol.breadcrumb
                    - crumbs.each do |link|
                      %li{ class: "breadcrumb-item #{'active' if link.current?}" }
                        - if !link.current?
                          = link_to link.text, link.url
                        - else
                          = link.text
          .row
            .col
              = yield
