!!! 5
%html{ lang: 'en' }
  %head
    = render 'shared/header', title: 'Student'
  %body.background
    .container-fluid.h-100
      %nav.navbar.navbar-dark.navbar-expand-md.student-navbar-color
        = link_to root_path, class: 'navbar-brand' do
          = Setting.brand
        .collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item.dropdown
              = link_to '#', id: 'userMenu', class: 'nav-link dropdown-toggle',
                        data: { toggle: 'dropdown' },
                        aria: { haspopup: 'true', expanded: 'false' } do
                = user_avatar_tag current_user, size: '25x25',
                              class: 'rounded-circle'
                = current_user.first_name
              .dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'userMenu' } }
                = link_to edit_user_path(current_user),
                          class: 'dropdown-item' do
                  = icon 'edit'
                  Edit Profile
                .dropdown-divider
                = link_to logout_path, class: 'dropdown-item' do
                  = icon('power-off')
                  Logout
      .row.mt-3
        .col-md-2
          = render 'shared/student/sidebar_nav'
        .col-md-10
          .row
            .col
              - breadcrumbs.tap do |b|
                - if b.any?
                  %ol.breadcrumb
                    - b.each do |l|
                      %li{ class: "breadcrumb-item #{'active' if l.current?}" }
                        - if !l.current?
                          = link_to l.text, l.url
                        - else
                          = l.text
          .row
            .col
              = yield
